*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: orange;
}

html {
  line-height: 1.5;
  font-size: 20px;
  font-family: "Comic Sans MS", 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}


ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  width: max-content;
  background-color: black;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.cell {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.winning-cell {
  color: green;
}

.cell:hover {
  background-color: rgb(240, 240, 240);
}

.cell:hover,
button:hover {
  cursor: pointer;
}

.canvas-overlay-container,
.alert-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-overlay-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  align-items: start;
}

.alert-overlay-container h2 {
  margin: 0;
  font-size: 6rem;
}

.alert-overlay-container button {
  margin-top: 700px;
}