*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5b7a8c;
  --secondary-color: #bd3b3b;
  --tertiary-color: #ef9849;
}

html {
  line-height: 1.5;
  font-size: 20px;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  font-weight: normal;
}


ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #c1a18a;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 300px 10px rgba(0, 0, 0, 0.25);
}

.border {
  width: max-content;
  background-color: #34302d;
  border: 10px solid #34302d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.cell {
  background-color: #f5e7de;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.cell>div {
  margin-top: 30px;
  font-size: 12rem;
}

.X {
  color: var(--primary-color);
}

.O {
  color: var(--secondary-color);
}

.winning-cell {
  color: var(--tertiary-color);
}

.alert-overlay-container button {
  position: relative;
  bottom: 45px;
  border: 1px solid #34302d;
  border-radius: 50px;
  padding: 15px 20px 5px;
  font-size: 2rem;
  color: #34302d;
  background-color: #f5e7de;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cell.empty:hover,
button:hover {
  background-color: #e4d3c9;
  cursor: pointer;
}

.cell.empty:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cell:not(.empty) {
  cursor: default;
  background-color: #ebddd4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.canvas-overlay-container,
.alert-overlay-container {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-overlay-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  align-items: start;
}

.alert-overlay-container h2 {
  margin: 100px 0 0 0;
  font-size: 6rem;
  font-weight: bold;
  visibility: visible;
  -webkit-text-stroke: 1px 34302d;
  color: #f5e7de;
  text-shadow:
    3px 3px 0 #34302d,
    -1px -1px 0 #34302d,
    1px -1px 0 #34302d,
    -1px 1px 0 #34302d,
    1px 1px 0 #34302d,
    0px 0px 8px rgba(0, 0, 0, 0.4);

}